@import "tailwindcss";

/* ---------- Animations ---------- */
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* ---------- Utility Classes ---------- */
@layer utilities {
  .animate-slide-in-left {
    animation: slide-in-left 0.8s ease-out forwards;
  }
  .animate-slide-in-top {
    animation: slide-in-top 2s ease-out forwards;
  }
  .animate-slide-in-right {
    animation: slide-in-right 0.8s ease-out forwards;
  }
  .animate-blink {
    animation: blink 0.75s step-end infinite;
  }
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradientShift 12s ease infinite;
  }
}

/* ---------- Global Theme Variables ---------- */
:root {
  --background: #000000;
  --foreground: #ededed;
  --primary: #6120e3;
  --button-background: "./images/northern_light.jpeg";
}

/* ---------- System Dark Mode Support ---------- */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #f0f0f0;
  }
}

/* ---------- Base Styles ---------- */
html {
  scroll-behavior: smooth;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: font-serif;
}
