@import "tailwindcss";

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-slide-in-left {
  animation: slide-in-left 0.8s ease-out forwards;
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-slide-in-top {
  animation: slide-in-top 2s ease-out forwards;
}
@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-slide-in-right {
  animation: slide-in-right 0.8s ease-out forwards;
}

@layer utilities {
  .animate-blink {
    animation: blink 0.75s step-end infinite;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
}
@keyframes waveMove {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  }
}

.animated-wave {
  animation: waveMove 10s ease-in-out infinite;
}

.delay-1000 {
  animation-delay: 1s;
}
.delay-2000 {
  animation-delay: 2s;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-wave {
  animation: waveMove 12s ease-in-out infinite;
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradientShift 15s ease infinite;
}
@keyframes waveFloat {
  0%,
  100% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-100px) translateY(10px);
  }
}

.animated-wave {
  animation: waveFloat 12s ease-in-out infinite;
}

:root {
  --background: #ffffff;
  --primary: #6120e3;
  --button-background: "./images/northern_light.jpeg";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1d1d1d;
    --foreground: #ededed;
  }
}

body {
  background: transparent; /* allow underlying background to show */
  color: var(--foreground, #ededed);
  font-family: font-serif;
}

html {
  scroll-behavior: smooth;
}
